.movies {
	flex-basis: 80%;
    background: white;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.pagination {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
  }